body {
    background-color: black;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

#mainContainer {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 80px auto 1fr;
    grid-gap: 2em;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input::placeholder { color: rgb(128, 100, 100); font-size: 1em; font-style: italic; font-family:'Orbitron, sans-serif'; }


#search {
    border: 3px solid rgb(255, 196, 0);
    border-radius: 15px 15px 15px 15px;
    width:600px; 
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    color: white;
    background: black;
    text-decoration: none;
    outline: none;     
}


#gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;  
    grid-column-gap: 2.5em;
    height: 700px;

}

#game {
    border: 5px solid rgb(255, 196, 0);
    background: white;
    height: 210px;
    
}

#game > p {
    padding-left: 2px;
}


#nextPage {
    display: grid;
    grid-template-columns: 2em 2em 2em;
    justify-content: space-around;
}



#pageCount,#first,#next {
    background: white;
    color:black;
    text-align: center;
    border: 2px solid rgb(255, 196, 0);

}

button {
    width: auto;
    height: 2em;
    background: white;
}

#page1 {
    background: red;
}

@media only screen and  (min-width: 600px) and (max-width: 1000px) {
    #gameContainer {
        height: 1200px;
    }
    #game {
       height: 350px;      
    } 
     #search {
    width:400px; 
    font-size: 1.5em;    
    }  
  }

@media only screen and (max-width: 600px) {
    #gameContainer {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1em;  
        height: 2200px;
    }   

    #search {
    width:300px; 
    font-size: 1.2em;    
    }
  }